## Import needed packages

In [1]:
# Install needed packages
!pip install spacy
!pip install seqeval

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.8/dist-packages (3.4.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (4.64.1)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.8/dist-packages (from spacy) (6.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (23.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.25.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.8/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /usr/local/lib/python3.8/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.4.5)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.0.4)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.8/dist-packages (from spacy) (8.1.7)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.8/dist-packages (from spacy) (1.10.4)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.4.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.8/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.8/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->spacy) (2.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting seqeval
  Downloading seqeval-1.2.2.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.6/43.6 KB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from seqeval) (1.21.6)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.8/dist-packages (from seqeval) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.21.3->seqeval) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.21.3->seqeval) (1.2.0)
Building wheels for collected packages: seqeval
  Building wheel for seqeval (setup.py) ... done
  Created wheel for seqeval: filename=seqeval-1.2.2-py3-none-any.whl size=16179 sha256=a4034eb7bdef679ec5a6ff9dc1c28b9c8fd42bfe6f663790e7110077168a7b3c
  Stored in directory: /root/.cache/pip/wheels/ad/5c/ba/05fa33fa5855777b7d686e843ec07452f22a66a138e290e732
Successfully built seqeval
Installing collected packages: seqeval
Successfully installed seqeval-1.2.2

In [2]:
# Import needed packages

import json
import logging
import math
import pickle
import random
import re
import sys
import spacy

import numpy as np
import pandas as pd

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer

from seqeval.metrics import f1_score

from spacy import displacy
from spacy.training.example import Example
from spacy.training import offsets_to_biluo_tags

from itertools import groupby, chain

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [3]:
# Stop displayin warnings
logging.basicConfig(level=logging.INFO, stream=sys.stdout)

## Prepare the data

The dataset has 220 items of which 220 items have been manually labeled.

The labels are divided into following 10 categories:
*   Name
*   College Name
*   Degree
*   Graduation Year
*   Years of Experience
*   Companies worked at
*   Designation
*   Skills
*   Location
*   Email Address

In [4]:
# Import the data
df = pd.read_json ('Entity Recognition in Resumes.json',lines=True)

In [5]:
# Display the first ten different lines
df.head()

,content,annotation,extras
0,Abhishek Jha\nApplication Development Associat...,"[{'label': ['Skills'], 'points': [{'start': 12...",NaN
1,Afreen Jamadar\nActive member of IIIT Committe...,"[{'label': ['Email Address'], 'points': [{'sta...",NaN
2,"Akhil Yadav Polemaina\nHyderabad, Telangana - ...","[{'label': ['Skills'], 'points': [{'start': 37...",NaN
3,Alok Khandai\nOperational Analyst (SQL DBA) En...,"[{'label': ['Skills'], 'points': [{'start': 80...",NaN
4,Ananya Chavan\nlecturer - oracle tutorials\n\n...,"[{'label': ['Degree'], 'points': [{'start': 20...",NaN

In [6]:
# Remove the \n of each CV
for i in range(len(df)):
  df["content"][i] = df["content"][i].replace("\n", " ")
df.head()

<ipython-input-6-de3ba67ed165>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["content"][i] = df["content"][i].replace("\n", " ")

,content,annotation,extras
0,Abhishek Jha Application Development Associate...,"[{'label': ['Skills'], 'points': [{'start': 12...",NaN
1,Afreen Jamadar Active member of IIIT Committee...,"[{'label': ['Email Address'], 'points': [{'sta...",NaN
2,"Akhil Yadav Polemaina Hyderabad, Telangana - E...","[{'label': ['Skills'], 'points': [{'start': 37...",NaN
3,Alok Khandai Operational Analyst (SQL DBA) Eng...,"[{'label': ['Skills'], 'points': [{'start': 80...",NaN
4,Ananya Chavan lecturer - oracle tutorials Mum...,"[{'label': ['Degree'], 'points': [{'start': 20...",NaN

In [7]:
# Remove the 'extras' column 
df = df.drop(['extras'], axis=1)
df.head()

,content,annotation
0,Abhishek Jha Application Development Associate...,"[{'label': ['Skills'], 'points': [{'start': 12..."
1,Afreen Jamadar Active member of IIIT Committee...,"[{'label': ['Email Address'], 'points': [{'sta..."
2,"Akhil Yadav Polemaina Hyderabad, Telangana - E...","[{'label': ['Skills'], 'points': [{'start': 37..."
3,Alok Khandai Operational Analyst (SQL DBA) Eng...,"[{'label': ['Skills'], 'points': [{'start': 80..."
4,Ananya Chavan lecturer - oracle tutorials Mum...,"[{'label': ['Degree'], 'points': [{'start': 20..."

In [8]:
# JSON formatting functions
def convert_dataturks_to_spacy(dataturks_JSON_FilePath):
  """Convert data to SpaCy format.
  Args:
    dataturks_JSON_FilePath (String): The path to the JSON file.

  Returns:
    list: The training data.
  """
  
  try:
    training_data = []
    lines=[]
    with open(dataturks_JSON_FilePath, 'r') as f:
      lines = f.readlines()

    for line in lines:
      data = json.loads(line)
      text = data['content'].replace("\n", " ")
      entities = []
      data_annotations = data['annotation']
      if data_annotations is not None:
        for annotation in data_annotations:
          # Only a single point in text annotation.
          point = annotation['points'][0]
          labels = annotation['label']
          # Handle both list of labels or a single label.
          if not isinstance(labels, list):
            labels = [labels]

          for label in labels:
            point_start = point['start']
            point_end = point['end']
            point_text = point['text']
                        
            lstrip_diff = len(point_text) - len(point_text.lstrip())
            rstrip_diff = len(point_text) - len(point_text.rstrip())
            if lstrip_diff != 0:
                            point_start = point_start + lstrip_diff
            if rstrip_diff != 0:
                            point_end = point_end - rstrip_diff
            entities.append((point_start, point_end + 1 , label))
      training_data.append((text, {"entities" : entities}))
    return training_data
  except Exception as e:
    logging.exception("Unable to process " + dataturks_JSON_FilePath + "\n" + "error = " + str(e))
    return None

In [9]:
# Remove extra spaces from each CV
def trim_entity_spans(data: list) -> list:
  """Removes leading and trailing white spaces from entity spans.
  Args:
    data (list): The data to be cleaned in spaCy JSON format.

  Returns:
    list: The cleaned data.
  """
  
  invalid_span_tokens = re.compile(r'\s')

  cleaned_data = []
  for text, annotations in data:
    entities = annotations['entities']
    valid_entities = []
    for start, end, label in entities:
      valid_start = start
      valid_end = end
      while valid_start < len(text) and invalid_span_tokens.match(text[valid_start]):
        valid_start += 1
      while valid_end > 1 and invalid_span_tokens.match(text[valid_end - 1]):
        valid_end -= 1
      valid_entities.append([valid_start, valid_end, label])
    cleaned_data.append([text, {'entities': valid_entities}])
  return cleaned_data

In [10]:
# Get each line of the file
with open('Entity Recognition in Resumes.json', 'r') as f:
      lines = f.readlines()

In [11]:
# Clean the data
data = trim_entity_spans(convert_dataturks_to_spacy('Entity Recognition in Resumes.json'))
data[0]

["Abhishek Jha Application Development Associate - Accenture  Bengaluru, Karnataka - Email me on Indeed: indeed.com/r/Abhishek-Jha/10e7a8cb732bc43a  • To work for an organization which provides me the opportunity to improve my skills and knowledge for my individual and company's growth in best possible ways.  Willing to relocate to: Bangalore, Karnataka  WORK EXPERIENCE  Application Development Associate  Accenture -  November 2017 to Present  Role: Currently working on Chat-bot. Developing Backend Oracle PeopleSoft Queries for the Bot which will be triggered based on given input. Also, Training the bot for different possible utterances (Both positive and negative), which will be given as input by the user.  EDUCATION  B.E in Information science and engineering  B.v.b college of engineering and technology -  Hubli, Karnataka  August 2013 to June 2017  12th in Mathematics  Woodbine modern school  April 2011 to March 2013  10th  Kendriya Vidyalaya  April 2001 to March 2011  SKILLS  C (Less than 1 year), Database (Less than 1 year), Database Management (Less than 1 year), Database Management System (Less than 1 year), Java (Less than 1 year)  ADDITIONAL INFORMATION  Technical Skills  https://www.indeed.com/r/Abhishek-Jha/10e7a8cb732bc43a?isid=rex-download&ikw=download-top&co=IN   • Programming language: C, C++, Java • Oracle PeopleSoft • Internet Of Things • Machine Learning • Database Management System • Computer Networks • Operating System worked on: Linux, Windows, Mac  Non - Technical Skills  • Honest and Hard-Working • Tolerant and Flexible to Different Situations • Polite and Calm • Team-Player",
 {'entities': [[1296, 1622, 'Skills'],
   [993, 1154, 'Skills'],
   [939, 957, 'College Name'],
   [883, 905, 'College Name'],
   [856, 860, 'Graduation Year'],
   [771, 814, 'College Name'],
   [727, 769, 'Designation'],
   [407, 416, 'Companies worked at'],
   [372, 405, 'Designation'],
   [95, 145, 'Email Address'],
   [60, 69, 'Location'],
   [49, 58, 'Companies worked at'],
   [13, 46, 'Designation'],
   [0, 12, 'Name']]}]

In [12]:
# Clean the annotated data
def clean_entities(training_data):
  """Removes overlapping entities.
  Args:
    training_data (list): The training data in SpaCy format.

  Returns:
    list: The cleaned data (with no overlapping entities).
  """

  clean_data = []
  for text, annotation in training_data:
        
    entities = annotation.get('entities')
    entities_copy = entities.copy()
        
    # Append entity only if it is longer than its overlapping entity
    i = 0
    for entity in entities_copy:
      j = 0
      for overlapping_entity in entities_copy:
        # Skip self
        if i != j:
          e_start, e_end, oe_start, oe_end = entity[0], entity[1], overlapping_entity[0], overlapping_entity[1]
          # Delete any entity that overlaps, keep if longer
          if ((e_start >= oe_start and e_start <= oe_end) \
          or (e_end <= oe_end and e_end >= oe_start)) \
          and ((e_end - e_start) <= (oe_end - oe_start)):
            entities.remove(entity)
        j += 1
      i += 1
    clean_data.append((text, {'entities': entities}))
                
  return clean_data

In [13]:
# Clean the data
data = clean_entities(data)

In [14]:
# Split the data
def train_test_split(data, test_size, random_state):
  """Split the data into train and test sets.
  Args:
    data (list): The cleaned data.
    test_size (number): The size of the test set.
    random_state (number): The radnom state number (for sets reproduction).

  Returns:
    list: The train data.
    list: The test data.
  """
  
  random.Random(random_state).shuffle(data)
  test_idx = len(data) - math.floor(test_size * len(data))
  train_set = data[0: test_idx]
  test_set = data[test_idx: ]
  return train_set, test_set

In [15]:
# Get the train and test sets
train_data, test_data = train_test_split(data, test_size = 0.2, random_state = 42)

## Train the NER model

In [16]:
# Training function
def train_spacy():
  """Train the ner model baesd on the training data.
  Returns:
    object: The ner object.
  """  

  nlp = spacy.blank('en')  # Create blank Language class
  # Create the built-in pipeline components and add them to the pipeline
  # nlp.create_pipe works for built-ins that are registered with spaCy
  if 'ner' not in nlp.pipe_names:
    # ner = nlp.create_pipe('ner')
    ner = nlp.add_pipe("ner", last=True)
        
  # Add labels
  for _, annotations in train_data:
    for ent in annotations.get("entities"):
      ner.add_label(ent[2])
            
  # Get names of other pipes to disable them during training
  other_pipes = [pipe for pipe in nlp.pipe_names if pipe != 'ner']
  with nlp.disable_pipes(*other_pipes):  # Only train NER
    optimizer = nlp.begin_training()
    for itn in range(10):
      print("Statring iteration " + str(itn))
      random.shuffle(train_data)
      losses = {}
      for text, annotations in train_data:
        doc = nlp.make_doc(text)
        example = Example.from_dict(doc, annotations)
        # Update the model
        nlp.update([example], losses=losses, drop=0.3, sgd=optimizer)
      print(losses)
      print("----------------------------")
  return nlp

In [17]:
# Train the ner model
nlp = train_spacy()

Statring iteration 0

/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Karthik Gururaj Technical Lead at Infosys Ltd. - P..." with entities "[[2814, 2839, 'Degree'], [2773, 2812, 'Degree'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Rupesh Reddy Technology Consultant - EIT Services ..." with entities "[[6733, 6848, 'Skills'], [6703, 6705, 'Graduation ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Siddhartha Chetri 7 years of experience in IT Netw..." with entities "[[5471, 5838, 'Skills'], [5457, 5461, 'Graduation ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Senthil Kumar Senior Technical Lead - HCL Cisco  -..." with entities "[[6646, 7279, 'Skills'], [6451, 6554, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Shreyanshu Gupta Software Development Engineer wit..." with entities "[[4167, 4170, 'Skills'], [4141, 4145, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Imgeeyaul Ansari java developer  Pune, Maharashtra..." with entities "[[1894, 2173, 'Skills'], [1726, 1850, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Anurag Asthana Pune, Maharashtra - Email me on Ind..." with entities "[[7675, 7692, 'Years of Experience'], [7133, 7595,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nidhi Pandit Test Engineer - Infosys Limited  - Em..." with entities "[[3132, 3611, 'Skills'], [3005, 3082, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Urshila Lohani Senior Corporate Account Executive ..." with entities "[[2635, 2639, 'Graduation Year'], [2568, 2590, 'Co...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ravi Shankar Working as Escalation Engineer with M..." with entities "[[4016, 4025, 'Companies worked at'], [3941, 3950,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Akshay Dubey Actively looking for opportunity in ...." with entities "[[2889, 3087, 'Skills'], [2734, 2845, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ravi Shivgond Bidar, Karnataka - Email me on Indee..." with entities "[[1341, 1384, 'Email Address'], [1131, 1136, 'Loca...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ashok Kunam Team Lead - Microsoft  - Email me on I..." with entities "[[4197, 4960, 'Skills'], [3913, 4045, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Sanand Pal SQL and MSBI Developer with experience ..." with entities "[[3056, 3090, 'Skills'], [3042, 3046, 'Graduation ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nida Khan Tech Support Executive - Teleperformance..." with entities "[[872, 911, 'Email Address'], [800, 858, 'Skills']...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Soumya Balan IT SUPPORT  Sulthan Bathery, Kerala, ..." with entities "[[3913, 4370, 'Skills'], [3884, 3880, 'Graduation ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Vinay Singhal New Delhi, Delhi - Email me on Indee..." with entities "[[937, 980, 'Email Address'], [580, 923, 'Skills']...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Pavithra M "Infosys" internship  Bengaluru, Karnat..." with entities "[[998, 1038, 'Email Address'], [611, 984, 'Skills'...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Sudaya Puranik Principal Engineer Technical Staff ..." with entities "[[2656, 2688, 'Skills'], [2586, 2626, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Akansha Jain Pune, Maharashtra - Email me on Indee..." with entities "[[1860, 1871, 'Name'], [1502, 1600, 'Skills'], [12...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Avani Priya - Email me on Indeed: indeed.com/r/Ava..." with entities "[[368, 409, 'Email Address'], [314, 334, 'College ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "amarjyot sodhi Voice and Accent Trainer :Masters i..." with entities "[[1130, 1174, 'Email Address'], [1112, 1116, 'Grad...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Dhanushkodi Raj Technology Analyst - Infosys Limit..." with entities "[[11663, 12212, 'Skills'], [11476, 11558, 'Skills'...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Priyesh Dubey Azure Developer with 9 Yrs 8 months ..." with entities "[[2537, 2756, 'Skills'], [2416, 2493, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Mayank Shukla Infosys group as a Test Analyst - In..." with entities "[[2348, 3131, 'Skills'], [2324, 2328, 'Graduation ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Soumya Balan IT SUPPORT  Sulthan Bathery, Kerala, ..." with entities "[[4167, 4176, 'Companies worked at'], [3913, 4040,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Sai Dhir - Email me on Indeed: indeed.com/r/Sai-Dh..." with entities "[[2956, 3016, 'Skills'], [2567, 2952, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Karthik G V Program Manager, Product Manager, Prod..." with entities "[[1750, 1759, 'Companies worked at'], [1467, 1476,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Sridevi H Bangalore, Karnataka - Email me on Indee..." with entities "[[2473, 2498, 'Designation'], [2030, 2037, 'Compan...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Dilliraja Baskaran Tamil Nadu - Email me on Indeed..." with entities "[[363, 411, 'Email Address'], [314, 349, 'Skills']...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Alok Khandai Operational Analyst (SQL DBA) Enginee..." with entities "[[8098, 8384, 'Skills'], [8008, 8050, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ganesh AlalaSundaram A Dev-Test Professional with ..." with entities "[[3321, 3376, 'Skills'], [3296, 3311, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Kavitha K Senior System Engineer - Infosys Limited..." with entities "[[2292, 2296, 'Graduation Year'], [2245, 2269, 'Co...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ananya Chavan lecturer - oracle tutorials  Mumbai,..." with entities "[[2010, 2013, 'Degree'], [973, 1703, 'Skills'], [9...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "PRASHANTH BADALA Devops Engineer ,Cloud Engineer -..." with entities "[[13907, 13911, 'Skills'], [13835, 13841, 'Compani...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ajay Elango Software Engineer  Bangalore City, Kar..." with entities "[[6930, 7494, 'Skills'], [6845, 6874, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Vineeth Vijayan "Store Executive" - Orange City Ho..." with entities "[[6994, 7348, 'Skills'], [6936, 6972, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Mohammed Murtuza Major Incident Manager / Escalati..." with entities "[[7924, 8039, 'Skills'], [7872, 7890, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Tejasri Gunnam Bengaluru, Karnataka - Email me on ..." with entities "[[3517, 3878, 'Skills'], [3387, 3481, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Puran Mal Jaipur, Rajasthan - Email me on Indeed: ..." with entities "[[194, 511, 'Skills'], [174, 183, 'Degree'], [127,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Yathishwaran P Maximo Consultant - Infosys Limited..." with entities "[[19523, 19683, 'Skills'], [19377, 19479, 'Skills'...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ayushi Srivastava Senior Analyst - Cisco  New Delh..." with entities "[[1361, 1408, 'Email Address'], [1219, 1347, 'Skil...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Fenil Francis head of operation and logistics  Tri..." with entities "[[774, 896, 'Skills'], [694, 728, 'Skills'], [648,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Jaspreet Kaur Oceanic Consultants as a HR Executiv..." with entities "[[5670, 5780, 'Skills'], [462, 481, 'Designation']...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Suman Biswas SAP UI5 Lead, Native HANA Developer -..." with entities "[[5053, 5058, 'Companies worked at'], [5013, 5018,...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

{'ner': 14431.650884755143}
----------------------------
Statring iteration 1
{'ner': 5273.524244468767}
----------------------------
Statring iteration 2
{'ner': 4499.898463169236}
----------------------------
Statring iteration 3
{'ner': 4274.099676665348}
----------------------------
Statring iteration 4
{'ner': 3456.538810146815}
----------------------------
Statring iteration 5
{'ner': 3198.7352562947362}
----------------------------
Statring iteration 6
{'ner': 2935.9622679041195}
----------------------------
Statring iteration 7
{'ner': 2796.873539860936}
----------------------------
Statring iteration 8
{'ner': 2666.0469317194024}
----------------------------
Statring iteration 9
{'ner': 2539.095662136809}
----------------------------

## Test the NER model

In [18]:
# Convert prediction to the bilou format
def doc_to_bilou(nlp, text):
  """Convert ner model predictions to the bilou format.
  Args:
    nlp (object): ner model.
    text (string): text to predict.

  Returns:
    list: list of the prediction in the bilou format.
  """
  
  doc = nlp(text)
  tokens = [(tok.text, tok.idx, tok.ent_type_) for tok in doc]
  entities = []
  for entity, group in groupby(tokens, key=lambda t: t[-1]):
    if not entity:
      continue
    group = list(group)
    _, start, _ = group[0]
    word, last, _ = group[-1]
    end = last + len(word)
        
    entities.append((start, end, entity))

  gold = offsets_to_biluo_tags(nlp(text), entities = entities)
  pred_ents = gold
    
  return pred_ents

In [19]:
# Get the predicted and actual labels
y_test = []
y_pred = []

for text, annots in test_data:
  gold = offsets_to_biluo_tags(nlp.make_doc(text), entities = annots.get("entities"))
  ents = gold
  pred_ents = doc_to_bilou(nlp, text)
    
  y_test.append(ents)
  y_pred.append(pred_ents)

/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Chaban kumar Debbarma Tripura - Email me on Indeed..." with entities "[[277, 328, 'Email Address'], [257, 263, 'College ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nitin Verma Assisting Microsoft Partners - Exchang..." with entities "[[1308, 1349, 'Email Address'], [1277, 1281, 'Loca...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Angad Waghmare Pune, Maharashtra - Email me on Ind..." with entities "[[3878, 3937, 'Degree'], [3111, 3846, 'Skills'], [...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Madhuri Sripathi Banglore, Karnataka, Karnataka - ..." with entities "[[4563, 4746, 'Skills'], [4538, 4551, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Afreen Jamadar Active member of IIIT Committee in ..." with entities "[[1155, 1199, 'Email Address'], [743, 1141, 'Skill...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Krishna Prasad Patna, Bihar - Email me on Indeed: ..." with entities "[[283, 327, 'Email Address'], [257, 262, 'Location...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Girish Acharya Technical Architect & Sr. Software ..." with entities "[[19383, 19402, 'Designation'], [18315, 18334, 'De...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Sohan Dhakad Shivpuri, Madhya Pradesh - Email me o..." with entities "[[870, 893, 'Skills'], [794, 810, 'College Name'],...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Rahul Tayade Global Production Support Lead, - Inf..." with entities "[[11134, 11234, 'Skills'], [11050, 11085, 'College...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Arpit Jain Quality Analyst - ThoughtWorks Technolo..." with entities "[[2301, 2380, 'Skills'], [2088, 2130, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Vishwanath P Senior Executive (MIS & Audit) - Job ..." with entities "[[8139, 8163, 'College Name'], [2392, 2434, 'Email...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Pratibha P Principal Consultant at Oracle  Bengalu..." with entities "[[3345, 3896, 'Skills'], [3276, 3313, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Saurabh Sandhikar SAURABH SANDHIKAR  Hyderabad, Te..." with entities "[[2562, 2597, 'Skills'], [2366, 2375, 'Companies w...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Hartej Kathuria Data Analyst Intern - Oracle Retai..." with entities "[[2247, 2573, 'Skills'], [1435, 1480, 'Email Addre...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Shraddha Achar Mathura, Uttar Pradesh - Email me o..." with entities "[[975, 1020, 'Skills'], [814, 842, 'College Name']...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Ramesh HP CES ASSOCIATE CONSULTANT  Bangalore, Kar..." with entities "[[2669, 2944, 'Skills'], [2618, 2638, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Arpit Godha Senior Process Executive  Jaipur, Raja..." with entities "[[3144, 3495, 'Skills'], [3081, 3104, 'College Nam...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "arjun ks Senior Program coordinator - oracle India..." with entities "[[3490, 3523, 'Skills'], [3476, 3480, 'Graduation ...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Puneeth R Escalation Specialist - HiPower Support ..." with entities "[[2182, 2210, 'College Name'], [2177, 2180, 'Degre...". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

In [20]:
# Pre-process the test predictions
lb = LabelBinarizer()
y_true_combined = lb.fit_transform(list(chain.from_iterable(y_test)))
y_pred_combined = lb.transform(list(chain.from_iterable(y_pred)))

In [21]:
# ner model report
def ner_report(y_true, y_pred):
  """Classification report for a list of BIO-encoded sequences.
     It computes token-level metrics and discards "O" labels.
  Args:
    y_true (list): List of predictions from the test set.
    y_pred (list): List of predictions from the ner model.

  Returns:
    object: Classification report.
  """
  lb = LabelBinarizer()
  y_true_combined = lb.fit_transform(list(chain.from_iterable(y_true)))
  y_pred_combined = lb.transform(list(chain.from_iterable(y_pred)))
        
  tagset = set(lb.classes_)
  tagset = sorted(tagset, key=lambda tag: tag.split('-', 1)[::-1])
  class_indices = {cls: idx for idx, cls in enumerate(lb.classes_)}
    
  return classification_report(
    y_true_combined,
    y_pred_combined,
    labels = [class_indices[cls] for cls in tagset],
    target_names = tagset
    ), accuracy_score(y_true_combined, y_true_combined
    ), f1_score(y_test, y_pred)

In [22]:
# Get the ner model report
report, accuracy, score = ner_report(y_test, y_pred)

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Name seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Degree seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Years of Experience seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Companies worked at seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-Location seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Designation seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-Graduation Year seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-College Name seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Skills seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-Email Address seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-Companies worked at seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-Degree seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-College Name seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: - seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Email Address seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-Skills seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: L-Location seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))
/usr/local/lib/python3.8/dist-packages/seqeval/metrics/sequence_labeling.py:171: UserWarning: U-Designation seems not to be NE tag.
  warnings.warn('{} seems not to be NE tag.'.format(chunk))

In [23]:
# Print the model report
print(report)

                       precision    recall  f1-score   support

                    -       0.00      0.00      0.00       428
       B-College Name       0.60      0.69      0.64        54
       I-College Name       0.43      0.65      0.52       103
       L-College Name       0.58      0.67      0.62        54
       U-College Name       0.00      0.00      0.00         6
B-Companies worked at       0.66      0.52      0.58        48
I-Companies worked at       0.00      0.00      0.00        10
L-Companies worked at       0.55      0.44      0.49        48
U-Companies worked at       0.44      0.29      0.35        92
             B-Degree       0.85      0.64      0.73        45
             I-Degree       0.74      0.69      0.71       132
             L-Degree       0.82      0.62      0.71        45
             U-Degree       0.33      0.60      0.43         5
        B-Designation       0.60      0.41      0.48        91
        I-Designation       0.49      0.28      0.36       116
        L-Designation       0.56      0.38      0.46        91
        U-Designation       0.00      0.00      0.00         1
      B-Email Address       0.79      0.69      0.73        16
      I-Email Address       0.00      0.00      0.00         2
      L-Email Address       0.86      0.75      0.80        16
      U-Email Address       0.77      0.95      0.85        21
    U-Graduation Year       0.00      0.00      0.00        57
           B-Location       1.00      0.20      0.33         5
           L-Location       1.00      0.20      0.33         5
           U-Location       0.57      0.35      0.44        68
               B-Name       0.98      0.93      0.96        46
               I-Name       0.00      0.00      0.00         2
               L-Name       0.93      0.89      0.91        46
                    O       0.94      0.98      0.96     27126
             B-Skills       0.78      0.50      0.61        50
             I-Skills       0.71      0.51      0.59      1693
             L-Skills       0.66      0.42      0.51        50
             U-Skills       0.00      0.00      0.00         3
B-Years of Experience       0.00      0.00      0.00        10
I-Years of Experience       0.00      0.00      0.00         3
L-Years of Experience       0.00      0.00      0.00        10

            micro avg       0.92      0.92      0.92     30598
            macro avg       0.49      0.40      0.42     30598
         weighted avg       0.90      0.92      0.91     30598
          samples avg       0.92      0.92      0.92     30598

In [24]:
# Get the model accuracy
print(accuracy)

1.0

In [25]:
# Get the model f1-score
print(score)

0.5019157088122606

## Save the model

In [26]:
# Save the model to disk
filename = 'ner_resumes.sav'
pickle.dump(nlp, open(filename, 'wb'))

## Try the model on a sample from the test data

In [34]:
# Load the model from disk
model = pickle.load(open(filename, 'rb'))

In [35]:
# Define colors and options for display
colors = {
    "Skills": "#ffe599", 
    "College Name": "#5e72e4",
    "Graduation Year": "#f4f5f7",
    "Designation": "#11cdef",
    "Name": "#2dce89", 
    "Degree": "#f5365c",
    "Companies worked at": "#fb6340",
    "Location": "#849cbc",
    "Email Address": "#4a6a48",
    "Years of Experience": "#e0ecfc"
    }
options = {"ents": ['Skills', 
                    'College Name', 
                    'Graduation Year',
                    'Designation',
                    'Name',
                    'Degree',
                    'Companies worked at',
                    'Location',
                    'Email Address',
                    'Years of Experience'
                  ], 
           "colors": colors}

In [33]:
# # Try the model predictions on one resume
# for text, annots in test_data:
#   doc = loaded_model(text)
#   displacy.render(doc, style = "ent", options=options, jupyter = True)
#   break

In [36]:
skill_pattern_path = "skills.jsonl"

In [37]:
ruler = model.add_pipe("entity_ruler")
ruler.from_disk(skill_pattern_path)
print(nlp.pipe_names)
print(model.pipe_names)

['ner']
['ner', 'entity_ruler']

In [40]:
def get_skills(text):
  doc = nlp(text)
  myset = []
  subset = []
  for ent in doc.ents:
    if ent.label_ == "Skills":
      subset.append(ent.text)
  myset.append(subset)
  return subset

def unique_skills(x):
  return list(set(x))

In [41]:
df.head()

,content,annotation
0,Abhishek Jha Application Development Associate...,"[{'label': ['Skills'], 'points': [{'start': 12..."
1,Afreen Jamadar Active member of IIIT Committee...,"[{'label': ['Email Address'], 'points': [{'sta..."
2,"Akhil Yadav Polemaina Hyderabad, Telangana - E...","[{'label': ['Skills'], 'points': [{'start': 37..."
3,Alok Khandai Operational Analyst (SQL DBA) Eng...,"[{'label': ['Skills'], 'points': [{'start': 80..."
4,Ananya Chavan lecturer - oracle tutorials Mum...,"[{'label': ['Degree'], 'points': [{'start': 20..."

In [51]:
df["skills"] = df["content"].apply(get_skills)
df["skills"] = df["skills"].apply(unique_skills)
df.head()

,content,annotation,skills
0,Abhishek Jha Application Development Associate...,"[{'label': ['Skills'], 'points': [{'start': 12...","[• Programming language: C, C++, Java • Oracle..."
1,Afreen Jamadar Active member of IIIT Committee...,"[{'label': ['Email Address'], 'points': [{'sta...","[Database (Less than 1 year), HTML (Less than ..."
2,"Akhil Yadav Polemaina Hyderabad, Telangana - E...","[{'label': ['Skills'], 'points': [{'start': 37...","[servicenow (1 year),]"
3,Alok Khandai Operational Analyst (SQL DBA) Eng...,"[{'label': ['Skills'], 'points': [{'start': 80...","[Database (3 years), SQL (3 years), Sql Dba]"
4,Ananya Chavan lecturer - oracle tutorials Mum...,"[{'label': ['Degree'], 'points': [{'start': 20...",[]

In [53]:
get_skills(df["content"][5])

['JAVA (1 year), C++ (Less than 1 year), Hadoop (Less than 1 year), HADOOP (Less than 1 year), CSS (Less than 1 year)']

In [76]:
input_skills = "java,c++ (less than 1 year),hadoop,css"

In [77]:
req_skills = input_skills.lower().split(",")
resume_skills = unique_skills(get_skills(df["content"][5].lower()))

score = 0
for x in req_skills:
    print(x)
    print(resume_skills)
    if x in resume_skills[0]:
        score += 1
req_skills_len = len(req_skills)
print(score)
match = round(score / req_skills_len * 100, 1)

print(f"The current Resume is {match}% matched to your requirements")

java
['java (1 year), c++ (less than 1 year), hadoop (less than 1 year), hadoop (less than 1 year), css (less than 1 year)']
c++ (less than 1 year)
['java (1 year), c++ (less than 1 year), hadoop (less than 1 year), hadoop (less than 1 year), css (less than 1 year)']
hadoop
['java (1 year), c++ (less than 1 year), hadoop (less than 1 year), hadoop (less than 1 year), css (less than 1 year)']
css
['java (1 year), c++ (less than 1 year), hadoop (less than 1 year), hadoop (less than 1 year), css (less than 1 year)']
4
The current Resume is 100.0% matched to your requirements